@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background: #f1efec;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  /* background-color: white; */
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #100d0e,
    #191619,
    #211e23,
    #27262d,
    #282a31,
    #282e35,
    #293239,
    #273237,
    #263134,
    #263131,
    #27302f
  );
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}
.weather-card input {
  border: 1px solid gray;
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  background: transparent;
  color: #fff;
}

.weather-card input::placeholder,
.heading {
  color: #fff;
}
.city {
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
}
.weather-icon {
  font-size: 48px;
  margin: 10px 0;
}
.temperature {
  font-size: 36px;
  color: #2980b9;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  color: #fff;
}
